<VirtualHost *:80>
	
	# Available URL(s)
	ServerName www.telluswhere.example.com
	
	# Redirect example.com/foo to www.example.com/foo
	RewriteEngine On
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteCond %{HTTP_HOST} !^$
	RewriteRule ^/?(.*) http://www.%{HTTP_HOST}/$1 [L,R,NE]
	
	# Where the files are
	DocumentRoot /var/www/telluswhere/
	
	# Logging
	CustomLog /var/log/apache2/telluswhere-access.log combined
	ErrorLog /var/log/apache2/telluswhere-error.log
	
	# Allow .htaccess
	<Directory /var/www/telluswhere/>
		AllowOverride All
	</Directory>
	
	# Encoding
	AddDefaultCharset utf-8
	
	# PHP directives
	php_value date.timezone Europe/London

	# Permit file uploads
	php_admin_flag file_uploads On
	php_value upload_max_filesize 15M
	php_value post_max_size 15M
	
</VirtualHost>

