<?php

# Define the configuration for this installation; items marked NULL are mandatory
$config = array (
	'applicationName'	=> 'Tell us where',
	'cssFileLocation'	=> '/css/style.css',
	'apiKey'			=> NULL,
	'aboutPageHtml'		=> NULL,
	'termsPageHtml'		=> NULL,
	'defaultLatitude'	=> NULL,
	'defaultLongitude'	=> NULL,
	'defaultZoom'		=> NULL,
	'bbox'				=> NULL,	// W,S,E,N
	'earliestDate'		=> false,	// e.g. '2010-01-01',
	'username'			=> NULL,
	'password'			=> NULL,
);

?>