<?php

# Define the configuration for this installation; items marked NULL are mandatory
$config = array (
	'applicationName'	=> 'Tell us where',
	'style'				=> 'default',
	'apiKey'			=> NULL,
	'feedbackRecipient'	=> NULL,
	'contactsPageHtml'	=> false,
	'aboutPageHtml'		=> NULL,
	'termsPageHtml'		=> NULL,
	'defaultLatitude'	=> NULL,
	'defaultLongitude'	=> NULL,
	'defaultZoom'		=> NULL,
	'bbox'				=> NULL,	// W,S,E,N
);

?>