
# Allow parsing of .html by PHP
AddType application/x-httpd-php .html .php

# Log all errors and warnings
php_value error_reporting -1

# Disallow pathinfo
AcceptPathInfo Off

# Disable output buffering
php_flag output_buffering Off

# Permit file uploads; NB has to be set at webserver or php.ini level (changeable only at PHP_INI_SYSTEM level)
#php_flag file_uploads On

# Run application pages
RewriteEngine On
RewriteRule ^$ index.html?action=home [L,QSA]
RewriteRule ^(suggest|current|about|terms|contacts|data|admin|login|logout)/$ index.html?action=$1 [L,QSA]
RewriteRule ^(suggest|current|about|terms|contacts|data|admin|login|logout)$ /$1/ [L,R=301]
RewriteRule ^(location)/([1-9][0-9]+)/$ index.html?action=$1&id=$2 [L,QSA]
RewriteRule ^(location)/([1-9][0-9]+)$ /$1/$2/ [L,R=301]
RewriteRule ^data/(suggest|current).csv$ index.html?action=download&dataset=$1 [L,QSA]

# If no match above, serve files from the style folder directly, via the web application, for the configured style, other than specified static files
RewriteCond %{REQUEST_FILENAME} !/index\.html$
RewriteCond %{REQUEST_FILENAME} !/robots\.txt$
RewriteCond %{REQUEST_FILENAME} !/css/generic\.css$
RewriteCond %{REQUEST_FILENAME} !/images/ui-anim_basic_16x16\.gif$
RewriteCond %{REQUEST_FILENAME} !/_fckeditor
RewriteCond %{REQUEST_FILENAME} !/js/jquery\.exif.\js$
RewriteCond %{REQUEST_FILENAME} !/js/autocomplete.\js$
RewriteCond %{REQUEST_FILENAME} !/js/telluswhere.\js$
RewriteRule ^(.*)$ index.html?file=/$1 [L]


