
# Allow parsing of .html by PHP
AddType application/x-httpd-php .html .php

# Log all errors and warnings
php_value error_reporting -1

# Disallow pathinfo
AcceptPathInfo Off

# Disable output buffering
php_value output_buffering Off 

# Run application pages
RewriteEngine On
RewriteRule ^$ index.html?action=home [L,QSA]

# If no match above, serve files directly, via the web application, for the configured style
RewriteCond %{REQUEST_FILENAME} !/index\.html$
RewriteCond %{REQUEST_FILENAME} !/robots.txt$
RewriteRule ^(.*)$ index.html?page=/$1 [L]


